<%- include('partials/header') %>

<body>
    <div class="container mt-4 text-center jumbotron display-4">
        <h1>Welcome to catShop🐈</h1>
        <a href="/register" class="btn btn-outline-primary">REGISTER</a>
        <a href="/login" class="btn btn-outline-success">LOGIN</a>
    </div>
</body>

<%- include('partials/footer') %>